<div class="card" style="width: 35%">
    <div class="card-body" style="width: 100%;">


        <form [formGroup]="forma" (ngSubmit)="validar()">
            <div class="col-7 mx-auto form-group">
                <div class="mb-3 row">
                    <label for="user" class="form-label">Usuario:</label>
                    <input type="text" class="form-control width: 100%" formControlName="user" [class.is-invalid]="userInvalid">

                </div>
                <div class="mb-3 row">
                    <label for="password" class="form-label">Clave:</label>
                    <input type="password" class="form-control" formControlName="passwd"
                        [class.is-invalid]="passInvalid">
                </div>

                <div class="d-grid">
                <button type="submit" class="btn btn-primary">Entrar</button>
                </div>

            </div>
        </form>

    </div>
</div>

<div class="card" style="width: 35%">
    <button type="submit" routerLink="/newUser" class="btn btn-link text-center my-3">Crear Usuario</button>
</div>

<hr>

